extends layout 
block content
  .panel
    .panel-head
      h6.title Customer List
    span.newCust
      a(href='/customer/') Register new Customer
    #searchBtn.input-group
      .form-outline
        input#form1.form-control(type='search' placeholder='search by name' name='CustomerName')
      button#SBtn.btn.btn-primary(type='button')
        i.fa.fa-search 
    .panel-body
      table.zebra
        tbody
          tr
            th Customer Names
            th Location
            th Trucks needed
            th Telephone
            th Service
            th NIN
            th Payment
            th Action
          if customers.length 
          each customer in customers  
            tr
              td  #{customer.customerName}  
              td  #{customer.location}
              td  #{customer.truckNumber}
              td  #{customer.phone_Number}
              td  #{customer.serviceType} 
              td  #{customer.national_Id}
              td  #{customer.paymentType}
              td(style="display:flex; justify-content:center; align-items:center;")
                a.edit(href='/customer/update/'+customer._id)
                  ion-icon(name='create-outline')
                a.remove(href='/customer/delete/'+customer._id)
                  ion-icon(name='trash-outline')
                  
