extends layout 
block content
    .panel
        .panel-head
            h6.title Order Record
        span.newCust
            a(href='/order/') Return to Orders
        .panel-body
            table.zebra
                tbody
                    tr  
                        th Customer Names
                        th Date
                        th Assigned Truck
                        th Driver Name
                        th Conductors
                        th Current Truck Location
                        th Next Destination
                        th Action
                    if order.length
                    each trip in order
                        tr  
                            td #{trip.customerName}
                            td #{trip.date}
                            td #{trip.truckCod}
                            td #{trip.driverName}
                            td #{trip.condNumber}
                            td #{trip.truckLocation}
                            td #{trip.nxtDest}
                            td
                                a.edit(href='/order/update/' + order._id)
                                    ion-icon(name='create-outline')
                                a.remove(href='/order/delete/'+order._id)
                                    ion-icon(name='trash-outline')
