extends layout
block content
  .panel
    .panel-head
      h6.title Salaries
    span.newCust
      a(href='/home') Return Home
    #searchBtn.input-group
      .form-outline
        input#form1.form-control(type='search' name='truckCode' placeholder='Enter Truck Code')
      button#SBtn.btn.btn-primary(type='button')
        i.fa.fa-search
    .panel-body
      table.zebra
        tbody
          tr
            th Worker Names
            th Role
            th Salary
          if employee.length
          each worker in employee
            tr
              td #{truck.truckMake}
              td #{truck.truckModel}
              td #{truck.truckRegNo}
              td #{truck.truckCode}
              td #{truck.truckDriver}
              td(style="display:flex; justify-content:center; align-items:center;")
                a.edit(href='/truck/update/' + truck._id)
                  ion-icon(name='create-outline')
                a.remove(href='/truck/delete/'+truck._id)
                  ion-icon(name='trash-outline')



