extends layout
block content
  .container.updateContainer
    .row
      .col.updateHeader
        h5 Update Truck information
    .row.rowUpdate
      .col.colW
        form#formUpdate(action = "/truck/update?id="+truck._id  method="POST")
          table
            thead
              tr
                th
                  | Manufacturer
                td
                  input.form-control.updateInput(name="firstName" value=truck.truckMake)
              tr
                th
                  | Vehicle Model
                td
                  input.form-control.updateInput(name="lastName" value=truck.truckModel)
              tr
                th
                  | Registration Number
                td
                  input.form-control.updateInput(name="nin" value=truck.truckRegNo)
              tr
                th
                  | Truck Code
                td
                  input.form-control.updateInput(name="drivLic" value=truck.truckCode)
              tr
                th
                  | Driver
                td
                   input.form-control.updateInput(name="drivLic" value=truck.truckDriver)
          button#bTNTk(type="submit") Update
          .back
            a(href="/truck/list") Return to list 
