extends layout
block content
  .container.updateContainer
    .row
      .col.updateHeader
        h5 Update Truck information
    .row.rowUpdate
      .col.colW
        form#formUpdate(action = "/truck/update?id="+truck._id  method="POST")
          table
            thead
              tr
                th
                  | Manufacturer
                td
                  input.form-control.updateInput(name="truckMake" value=truck.truckMake)
              tr
                th
                  | Vehicle Model
                td
                  input.form-control.updateInput(name="truckModel" value=truck.truckModel)
              tr
                th
                  | Registration Number
                td
                  input.form-control.updateInput(name="truckRegNo" value=truck.truckRegNo)
              tr
                th
                  | Truck Code
                td
                  input.form-control.updateInput(name="truckCode" value=truck.truckCode)
              tr
                th
                  | Service Type
                td
                   input.form-control.updateInput(name="servType" value=truck.servType)
          button#bTNTk(type="submit") Update
          .back
            a(href="/truck/list") Return to list 
