extends layout
block content
  .panel
    .panel-head
      h6.title Worker List
    span.newCust
      a(href='/worker/') Register new Worker
    #searchBtn.input-group
      .form-outline
        input#form1.form-control(type='search')
      button#SBtn.btn.btn-primary(type='button')
        i.fa.fa-search
    .panel-body
      table.zebra
        tbody
          tr
            th Worker Names
            th NIN
            th Drivers License
            th Position
            th Gender
            th Date of Birth
            th Past Incidents
            th Action
          if workers.length
          for worker in workers
            tr  
              td #{worker.secondName + '' + worker.firstName}
              td #{worker.natId}
              td #{worker.drivLic}
              td #{worker.position}
              td #{worker.gender}
              td #{worker.dateOfBirth}
              td #{worker.pastincident}
              td
                a.edit(href='/worker/update'+worker._id)
                  ion-icon(name='create-outline')
                a.remove(href='/worker/delete'+worker._id)
                  ion-icon(name='trash-outline')

